data.db
.DS_Store
ElectromechVPN/
easy-rsa/pki/vars
easy-rsa/easy-rsa.vars
ElectromechVPN-ui.Bullseye.x86_64.tar.gz
easy-rsa/pki/index.txt
build/qrencode
ElectromechVPN-ui.tar.gz
qrencode
bin/oath-orig.sh
